# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# OS junk
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
*.pid

# VS Code settings
.vscode/

# Coverage/test
coverage/
*.lcov

# Misc
*.tgz
.idea/
*.swp
